header {
    background-image: url('../img/headerbackground.jpg');
    background-size: cover;
}

.profile-container {
    bottom: 50px;
    position: relative;
}

.profile-image {
    border-radius: 50%;
}